<!-- 

Mini Project 3 :-
Add a link to the pdf version of the resume. On Click open a visual cv resume.

Mini Project 2 :-
Add 
- VenturePact.com

Mini Project 1(Done) :-
Problem - Clicking on the portfolio images takes the user to the dead end. 
Solution 
* Add a lightbox to the images. 

-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chethan | Product Manager</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="https://cdn.hyperdev.com/us-east-1%3A275a481a-272a-496c-ab71-a40f2a0179c4%2Ffavicon.ico" type="image/x-icon"/>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <!-- <script>
    var OneSignal = OneSignal || [];
    OneSignal.push(["init", {
      appId: "623947af-eed6-4465-aff6-f7aaa1cab044",
      autoRegister: false,
      notifyButton: {
        enable: true /* Set to false to hide */
      }
    }]);
      </script> -->
      
    <!-- QGraph Script Start -->
    <script type="text/javascript">
        window.QGSettings = {
            "appId": "908109295fb1c64bf3ed",
            "push": {
              "requestSelf": false,
              "fakePrompt": false,
            "prompt": {
              "title": "Get Latest Updates",
              "message": "Subscribe to notifications"
            }
          }
        };
        !function(q,g,r,a,p,h){if(q.qg)return;n=q.qg=function(){n.callmethod?n.callmethod.call(n,arguments):n.queue.push(arguments);};n.queue=[];p=g.createElement(r);p.async=!0;p.src=a;h=g.getElementsByTagName(r)[0];h.parentNode.insertBefore(p,h)}(window,document,'script','https://cdn.qgraph.io/dist/qgraph.min.js');
        qg('init',window.QGSettings);
    </script>
    <!-- QGraph Script End -->
      
    <link rel="stylesheet" href="/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,300,700,700italic,300italic,400italic,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Hello Bar Script-->
    <script src="//my.hellobar.com/92c5cdd9f36899fa0c312ea7246c040bfe160772.js" type="text/javascript" charset="utf-8" async="async"></script>
    
<!--    <script>alert("This is another silly alert");</script>-->
  </head>
  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJ2PLH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NJ2PLH');</script>
    <!-- End Google Tag Manager -->
    <header>
      <a href="https://nettle-forest.hyperdev.space" id="logo">
        <h1>Chethan K</h1>
        <h2>Product Manager and Lean Startup Consultant</h2>
      </a>
      <nav>
        <ul>
          <li><a href="https://nettle-forest.hyperdev.space" class="selected">Portfolio</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="readingList.html">Reading List</a></li>
          <!-- <li><a href="/bucketlist/bucketList.html">Bucket List</a></li> -->
          <li><a href="/login/index.html">Login</a></li>
        <!-- <li><a href="storymaker.html">Story Maker App</a></li> -->
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="https://cdn.hyperdev.com/us-east-1%3A275a481a-272a-496c-ab71-a40f2a0179c4%2FSuperProfs%20%20Online%20Coaching%20for%20UPSC%20%20CA%20%20CS%20%20CMA%20%20SSC%20%20Gate%20%20Bank%20Exams.png">
              <img src="https://cdn.hyperdev.com/us-east-1%3A275a481a-272a-496c-ab71-a40f2a0179c4%2FSuperProfs%20%20Online%20Coaching%20for%20UPSC%20%20CA%20%20CS%20%20CMA%20%20SSC%20%20Gate%20%20Bank%20Exams.png" alt="Image Not Available">
              <p>SuperProfs | Online Education</p>
            </a>  
          </li>
          <li>
            <a href="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Fmyrationstore.png">
              <img src="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Fmyrationstore.png" alt="">
              <p>MyRationStore | Online Grocery Store</p>
            </a>  
          </li>
          <!--<li>-->
          <!--  <a href="img/vizpush.png">-->
          <!--    <img src="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Fvizpush.png" alt="">-->
          <!--    <p>VizPush | Push Notification In Browser</p>-->
          <!--  </a>  -->
          <!--</li>-->
          <li>
            <a href="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Fdocsapp.png">
              <img src="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Fdocsapp.png" alt="">
              <p>DocsApp | Consult Doctors Online</p>
            </a>  
          </li>
        </ul>
      </section>
      <footer>
        <!-- <a href="http://facebook.com"><img src="https://cdn.hyperdev.com/us-east-1%3Af434ca1c-7403-4f7f-b413-88671e572fb9%2Ffacebook.png" alt="" class="social-icon"></a> -->
       <!-- <a href="http://facebook.com"><img src="img/facebook.png" alt="" class="social-icon"></a> -->
        <p>&copy; 2016 Chethan K | Product Manager.</p>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/app.js"></script>
  </body> 
  
  <!-- <script src="scripts.js"></script>
  <script src="randomNumber.js"></script> -->
<!--  <script src="numberGuess.js"></script>-->
  
<!--  <script src="dieRoll.js"></script>
      <script src="quiz.js"></script>
-->
</html>

